<a href="https://colab.research.google.com/github/rgozun/Credit-Default-Prediction/blob/main/UCI_Credit_Default_Prediction_Testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predicting Credit Payment Default
Ralph Gozun
Data Host: UCI Machine Learning Repository
Host URL: https://archive.ics.uci.edu/ml/datasets/default+of+credit+card+clients

Abstract: This work serves to test different predictive algorithms aiming to accurately determine if a banking customer will default on their loan repayments.

Metadata: This research employed a binary variable:

* default payment (Yes = 1, No = 0), as the response variable.

This study reviewed the literature and used the following 23 variables as explanatory variables:
* X1: Amount of the given credit (NT dollar): it includes both the individual consumer credit and his/her family (supplementary) credit.
* X2: Gender (1 = male; 2 = female).
* X3: Education (1 = graduate school; 2 = university; 3 = high school; 4 = others).
* X4: Marital status (1 = married; 2 = single; 3 = others).
* X5: Age (year).
* X6 - X11: History of past payment. We tracked the past monthly payment records (from April to September, 2005) as follows: X6 = the repayment status in September, 2005; X7 = the repayment status in August, 2005; . . .;X11 = the repayment status in April, 2005. The measurement scale for the repayment status is: -1 = pay duly; 1 = payment delay for one month; 2 = payment delay for two months; . . .; 8 = payment delay for eight months; 9 = payment delay for nine months and above.
* X12-X17: Amount of bill statement (NT dollar). X12 = amount of bill statement in September, 2005; X13 = amount of bill statement in August, 2005; . . .; X17 = amount of bill statement in April, 2005.
* X18-X23: Amount of previous payment (NT dollar). X18 = amount paid in September, 2005; X19 = amount paid in August, 2005; . . .;X23 = amount paid in April, 2005.

In [2]:
import os
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns

%config InlineBackend.figure_format = 'retina'
pd.set_option('precision', 2)

In [3]:
df_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00350/default%20of%20credit%20card%20clients.xls'
df = pd.read_excel(df_url,header=1)
# df = df.sample(frac=1,random_state=1)
df.head()

   ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default payment next month
0   1      20000    2  ...         0         0                           1
1   2     120000    2  ...         0      2000                           1
2   3      90000    2  ...      1000      5000                           0
3   4      50000    2  ...      1069      1000                           0
4   5      50000    1  ...       689       679                           0

[5 rows x 25 columns]

In [11]:
df['SEX'] = df['SEX'].astype('category')
df['EDUCATION'] = df['EDUCATION'].astype('category')
df['MARRIAGE'] = df['MARRIAGE'].astype('category')
df[''] = df[''].astype('category')
df[''] = df[''].astype('category')
df[''] = df[''].astype('category')
df[''] = df[''].astype('category')

In [10]:
display(df.describe(), df.dtypes)

             ID   LIMIT_BAL  ...   PAY_AMT6  default payment next month
count  30000.00    30000.00  ...   30000.00                    30000.00
mean   15000.50   167484.32  ...    5215.50                        0.22
std     8660.40   129747.66  ...   17777.47                        0.42
min        1.00    10000.00  ...       0.00                        0.00
25%     7500.75    50000.00  ...     117.75                        0.00
50%    15000.50   140000.00  ...    1500.00                        0.00
75%    22500.25   240000.00  ...    4000.00                        0.00
max    30000.00  1000000.00  ...  528666.00                        1.00

[8 rows x 25 columns]

ID                            int64
LIMIT_BAL                     int64
SEX                           int64
EDUCATION                     int64
MARRIAGE                      int64
AGE                           int64
PAY_0                         int64
PAY_2                         int64
PAY_3                         int64
PAY_4                         int64
PAY_5                         int64
PAY_6                         int64
BILL_AMT1                     int64
BILL_AMT2                     int64
BILL_AMT3                     int64
BILL_AMT4                     int64
BILL_AMT5                     int64
BILL_AMT6                     int64
PAY_AMT1                      int64
PAY_AMT2                      int64
PAY_AMT3                      int64
PAY_AMT4                      int64
PAY_AMT5                      int64
PAY_AMT6                      int64
default payment next month    int64
dtype: object

In [ ]:
corrMatrix = df.corr()
print(corrMatrix)

Empty DataFrame
Columns: []
Index: []

In [ ]:
X, y = df.iloc[:,1:24], df['Y']
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.10, random_state=1)
print(X_train.head(n=2),X_test.head(n=2),y_test.head(n=2))

           X1 X2 X3 X4  X5  X6  X7  ...  X17   X18   X19   X20    X21  X22   X23
10809  320000  1  1  2  33  -2  -2  ...  700  3609  4615  5256  22760  700  1992
7546    80000  2  3  2  34  -2  -2  ...    0   395  1846  8759      0    0     0

[2 rows x 23 columns]            X1 X2 X3 X4  X5 X6 X7  ...     X17    X18   X19   X20   X21    X22   X23
3261   170000  1  2  1  42  0  0  ...  134525   5300  5100  5000  4700   5000  4800
20927  340000  1  1  1  39  0  0  ...  206924  16100  9000  4000  7200  15200     0

[2 rows x 23 columns] 3261     0
20927    0
Name: Y, dtype: object

In [ ]:
X.describe()

           X1     X2     X3     X4     X5  ...    X19    X20    X21    X22    X23
count   30001  30001  30001  30001  30001  ...  30001  30001  30001  30001  30001
unique     82      3      8      5     57  ...   7900   7519   6938   6898   6940
top     50000      2      2      2     29  ...      0      0      0      0      0
freq     3365  18112  14030  15964   1605  ...   5396   5968   6408   6703   7173

[4 rows x 23 columns]

In [ ]:
kmeans = KMeans(n_clusters=5, random_state=0).fit(X)

ValueError: ignored

In [ ]:
X.head(1000)

           X1 X2 X3 X4  X5  X6  ...    X18    X19    X20   X21    X22    X23
10747   20000  2  3  1  47   0  ...   1125   1000    780     0      0      0
12573   50000  1  1  2  26   0  ...   1000    200   1200   600    600    600
29677   50000  1  2  1  28  -1  ...      0  46257   2200  1300  43987   1386
8856   120000  1  2  2  26   0  ...   6159  10008   3051  3100   3052   2908
21098  200000  1  1  1  42   2  ...   8000   7500   7000  6600   7000   7100
...       ... .. .. ..  ..  ..  ...    ...    ...    ...   ...    ...    ...
23285  290000  2  3  1  49   0  ...  21560      0  44777     0   5560   6420
3782   430000  2  1  1  48  -1  ...      0      0      0     0   2299  37980
18013  110000  1  2  1  30   2  ...   4000   9600      0  2600   2300   3000
20220  230000  2  2  2  53   0  ...   5000   5000  10000  5000  10018   6850
21980   20000  2  2  2  27   0  ...   1290   2000   2000  1000   1000   3000

[1000 rows x 23 columns]